<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ApplicationDemo" parallel="tests" thread-count="4" verbose="4">
    <listeners>
        <listener class-name="com.qa.app.Listeners.ExtentReportListener"/>
    </listeners>
    <test name="Homepage">
        <classes>
            <class name = "com.qa.app.tests.HomePageTest"/>
        </classes>
    </test>
    <test name="Loginpage">
        <classes>
            <class name = "com.qa.app.tests.LoginPageTest"/>
        </classes>
    </test>

  </suite>